@model PCpartStore.Models.ShoppingCart
<div class="navbar-right">
    @Html.ActionLink("Summary", "Summary", "ProductSummary", null, new { @class = "btn btn-default" })
</div>
<div class="navbar-text navbar-right">
    Your cart:  
    @Model.TotalItems()
    item(s), £ @Model.ComputeTotalValue()

</div>
